:root {
  
                /* Colors */
                
                --white:    #E6F2EF;
                --pink:     #F783B0;
                --blue:     #3F6D9E;
                --bgcolor:  #151640;
            }

body {
  font: 18px sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("media/nightskystar.gif");
  color: var(--white);
}

.wrapper {
  height:100%;
  min-height:100%;
  display:flex;
  padding:0px;
}

.nav {
  width:35vh;
  padding:38px;
  margin-right:20px;
  height:100vh;
  background-image: url("media/24517.png");
}

.content {
  width:150vh;
}
iframe.sidebar {
  padding:10px;
  border:0;
}

p {
  text-shadow:-1px 1px black;
}

a {
  color:var(--pink);
}

a:hover {
  color:var(--white);
}